In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import ast

In [289]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
     ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
     -- ------------------------------------- 0.1/1.5 MB 919.0 kB/s eta 0:00:02
     ----- ---------------------------------- 0.2/1.5 MB 1.6 MB/s eta 0:00:01
     ------------- -------------------------- 0.5/1.5 MB 2.8 MB/s eta 0:00:01
     ------------------ --------------------- 0.7/1.5 MB 3.1 MB/s eta 0:00:01
     --------------------------------- ------ 1.2/1.5 MB 4.7 MB/s eta 0:00:01
     ---------------------------------------- 1.5/1.5 MB 5.3 MB/s eta 0:00:00
Requirement already satisfied: click in c:\users\ujjwa\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\ujjwa\anaconda3\lib\site-packages (from nltk) (1.2.0)
Collecting regex>=2021.8.3 (from nltk)
  Obtaining dependency information for regex>=2021.8.3 from https://files.pythonhosted.org/packages/fc/85/0d1038f068900896a8590d6d0da198b90d31f731a39166a432aa2b92249b/regex-2023.10.3-cp39-cp39-win_amd64.whl.metadata
  Downloading regex-2023.10.3-cp39-cp39-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/42.0 kB ? eta -:--:--
     ---------------------------------------- 42.0/42.0 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: tqdm in c:\users\ujjwa\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\ujjwa\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Downloading regex-2023.10.3-cp39-cp39-win_amd64.whl (269 kB)
   ---------------------------------------- 0.0/269.6 kB ? eta -:--:--
   --------------------------------------- 269.6/269.6 kB 16.2 MB/s eta 0:00:00
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2023.10.3

In [74]:
movies =  pd.read_csv('movies.csv')
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [3]:
credits = pd.read_csv('credits.csv')
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [4]:
movies.shape, credits.shape

((4803, 20), (4803, 4))

In [78]:
pd.set_option('display.max_columns', 100)

In [68]:
# movies.info()

In [67]:
#credits.info()

In [75]:
movies = movies.merge(credits, on = 'title')

In [ ]:
# genre, id, keywords,title, overview,cast, crew

In [81]:
movies = movies[[ 'movie_id', 'title', 'overview','genres', 'keywords', 'cast', 'crew']]

In [83]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [87]:
movies.isna().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [86]:
movies.dropna(inplace = True)

In [88]:
movies.duplicated().any()

False

In [127]:
#Function to make string literal in a list
def convert(obj):
    lt = []
    for i in ast.literal_eval(obj):
        lt.append(i['name'])
    return lt

In [134]:
movies['genres'] = movies['genres'].apply(convert)

In [138]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [144]:
movies['keywords'] = movies['keywords'].apply(convert)

In [164]:
# def convert3(obj):
#     lt = []
#     for i in ast.literal_eval(obj):
#         lt.append(i['name'])
#     return lt[:3]
# %time
# movies.cast.apply(convert3)

In [166]:
#%time
def convert2(obj):
    lt = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter < 3:
            lt.append(i['name'])
            counter+=1
        else:
            break
    return lt

In [167]:
movies['cast'] = movies['cast'].apply(convert2)

In [188]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [207]:
# Function to get director name
def director(obj):
    lt = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            lt.append(i['name'])
            break
    return lt

In [209]:
movies['crew'] = movies['crew'].apply(director)

In [210]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [212]:
movies['overview'] = movies.overview.str.split()

In [213]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [236]:
# lm = ['Action', 'Adventure', 'Fantasy', 'Science Fiction']
#Function to remove spaces between words
# def check(lm):
#     for i in range(len(lm)):
#         lm[i] = lm[i].replace(" ", '')
#     return lm

In [239]:
movies['genres'] = movies['genres'].apply( lambda x : [i.replace(" ", "") for i in x] )
movies['keywords'] = movies['keywords'].apply( lambda x : [i.replace(" ", "") for i in x] )
movies['cast'] = movies['cast'].apply( lambda x : [i.replace(" ", "") for i in x] )
movies['crew'] = movies['crew'].apply( lambda x : [i.replace(" ", "") for i in x] )

In [240]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]

In [255]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [245]:
# Function to make the list into a string
# def joint(lst):
#     return(" ".join(lst))

In [256]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [260]:
new_df = movies[['movie_id', 'title', 'tags']]

In [262]:
new_df.head(2)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [264]:
new_df['tags'] =  new_df['tags'].apply(lambda x: " ".join(x))

In [266]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [267]:
new_df.tags[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [294]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [327]:
# Funtion to perform stemming
def stemmer(text):
    lst = []
    for w in text.split():
        lst.append(ps.stem(w))

    return " ".join(lst)

In [332]:
new_df['tags'] = new_df['tags'].apply(stemmer)

In [334]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(analyzer= 'word', max_features= 5000, stop_words= 'english')

In [338]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [341]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [344]:
vectors.shape

(4806, 5000)

In [345]:
from sklearn.metrics.pairwise import cosine_similarity

In [360]:
sorted(enumerate(cosine_similarity(vectors)[0]), reverse = True, key = lambda x : x[1])[1:11]

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.25038669783359574),
 (582, 0.24511108480187255),
 (1204, 0.24455799402225922),
 (1194, 0.2367785320221084),
 (61, 0.23179316248638276),
 (778, 0.23174488732966075)]

In [358]:
similarity = cosine_similarity(vectors)

In [359]:
similarity.shape

(4806, 4806)

In [361]:
sorted(enumerate(similarity[0]), reverse = True, key = lambda x : x[1])[1:11]

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.25038669783359574),
 (582, 0.24511108480187255),
 (1204, 0.24455799402225922),
 (1194, 0.2367785320221084),
 (61, 0.23179316248638276),
 (778, 0.23174488732966075)]

In [394]:
def recommend(movie):
    movie_index = new_df[ new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    proximity_list = sorted(enumerate(distances), reverse = True, key = lambda x : x[1])[1:6]
    for i in proximity_list:
        print(new_df.iloc[i[0]]['title'])

In [429]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [401]:
new_df.head(4)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...

In [419]:
import pickle

In [403]:

# sample = pd.DataFrame({ 'movie_id': [19995, 285, 206647, 49026], 'title': ['Avatar', 'Pirates od Carribean', 'Spectre', 'The Dark Knight'], 
#  'tags':['in the 22nd century, a parapleg marin is dispa...', 'captain barbossa, long believ to be dead, ha c..', 'a cryptic messag from bond’ past send him on a...', 'follow the death of district attorney harvey d..']})

In [420]:
pickle.dump(new_df, open('movies.pkl', 'wb'))

In [424]:
pickle.load(open('movies.pkl', 'rb'))['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [425]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [449]:
def recommend2(movie):
    movie_index = new_df[ new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    proximity_list = sorted(enumerate(distances), reverse = True, key = lambda x : x[1])[1:6]
    print(proximity_list)
    recommededlist = []
    movie_id_list = []
    
    for i in proximity_list:
        print(new_df.iloc[i[0]]['movie_id'])
        movie_id_list.append(new_df.iloc[i[0]]['movie_id'])
        recommededlist.append(new_df.iloc[i[0]]['title'])
    return recommededlist, movie_id_list

In [450]:
recommend2('Avatar')

[(1216, 0.28676966733820225), (2409, 0.26901379342448517), (3730, 0.2605130246476754), (507, 0.255608593705383), (539, 0.25038669783359574)]
440
679
270938
602
7450

(['Aliens vs Predator: Requiem',
  'Aliens',
  'Falcon Rising',
  'Independence Day',
  'Titan A.E.'],
 [440, 679, 270938, 602, 7450])

In [454]:
new_df.iloc[1216]['movie_id']

440

In [448]:
new_df.iloc[440]

movie_id                                                12193
title                                        Four Christmases
tags        brad and kate have made someth of an art form ...
Name: 440, dtype: object